#doc1 {
    width: 100%;
    min-height: 720px;
    padding: 210px 135px;
    background-image: url("http://pudim.com.br/pudim.jpg");
}

.cartela {
    p {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .titulo {
        font-size: 5em;
    }
}