@font-face {
    font-family: 'FedraMono';
    src: url('../assets/fonts/FedraMonoStdBook.woff2') format('woff2'),
        url('../assets/fonts/FedraMonoStdBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FedraMono';
    src: url('../assets/fonts/FedraMonoStdBold.woff2') format('woff2'),
        url('../assets/fonts/FedraMonoStdBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/GraphikRegular.woff2') format('woff2'),
        url('../assets/fonts/GraphikRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../assets/fonts/GraphikSemibold.woff2') format('woff2'),
        url('../assets/fonts/GraphikSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
