@import "bootstrap/scss/bootstrap";

.video-button-icon {
    height: 1.5vw;
    padding-left: 2.25vw;
}

.btn-primary {
    background-color: transparent;
    border: none;
    height: 1.5vw;

    &:hover {
        background-color: transparent;
        border: none;
    }

    &:focus {
        background-color: transparent;
        border: none;
    }
}

.dropdown-toggle::after {
    display: none;
}