@import 'bootstrap/scss/bootstrap';

//temp
.video-button-icon {
    height: 1.5vw;
    padding-left: 2.25vw;
}

.btn {
    height: 1.5vw;
    margin-left: 2.25vw;
}

// override do bootstrap
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: unset;
    border-color: unset;

    &:focus {
        box-shadow: unset;
    }
}

.btn-primary {
    background-color: unset;
    border: unset;

    &:hover {
        background-color: unset;
        border: none;
    }

    &:focus {
        background-color: unset;
        box-shadow: unset;
        border: unset;
    }
}

.dropdown-toggle::after {
    display: none;
}