.sobre {
    padding: 2.8vw 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre-conteudo-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: Graphik;
    font-size: 1.2em;
}

.sobre-conteudo {
    flex: 3 1 0;
}

.veja-mais-wrapper {

    flex: 1 3 0;
    text-transform: uppercase;
    padding-left: 0.8vw;

    ul {
        padding-inline-start: 0px;
        list-style-type: none;
    }

    a {
        color: $vermelho;

        &:hover {
            color: $vermelho;
            font-weight: bold;
        }
    }
}

.veja-mais {
    &>* {
        border-bottom: solid 1px $vermelho;

        &:hover {
            border-bottom: solid 2px $vermelho;
        }
    }
}

.slick-slide>div {
    margin-right: 0.6vw;
}

.slick-list {
    margin-right: -0.5vw !important;
}

@include media-breakpoint-down(sm) {
    .sobre {
        padding-top: 15px;
    }

    .sobre-conteudo-wrapper {
        display: block;
    }
}