.upper-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1010;
    padding: 6vh 105px;

    &.row {
        margin: 0 auto;
    }

    &>div {
        display: flex;
        flex-wrap: wrap;
    }
}

.video-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'FedraMono';
    text-align: center;
}

@media (min-width: 2000px) {
    .upper-bar {
        padding: 125px 105px;
    }
}

@include media-breakpoint-down(sm) {
    .upper-bar {
        padding: 6vh 6vh;
    }

    .video-title {
        justify-content: flex-start;
        font-size: 0.8em;
    }
}

@include media-breakpoint-down(xs) {
    .upper-bar {
        padding: 6vh 3vh;
    }

    .video-title {
        margin-top: 6.4vw;
        justify-content: flex-start;
        font-size: 1.2em;
    }
}